* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

table,
th,
td,
caption, footer {
    border: 2px solid #444;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

#header {
    background-color: #1d42a7;
    color: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navigation {
    color: #f0f0f0;
}

a {
    text-decoration: none;
    color: #1d42a7;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: #427bb4;
}


.aboutMe {
    background-color: #f0f0f0;
    text-align: left;
}

.projects {
    background-color:  #f0f0f0;
    text-align: center;
}

.nav{
    background-color: #333;
    color: white;
}

#small {
    font-size: 0.7em;
    padding: 0.5px;
}